# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [115]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind

## Steps to follow:

1) Set the hypothesis

2) Choose significance / confidence level

3) Identify your sample (!= population)

4) Compute statistic

5) Get p-value

    - Compute it with a one tailed test, if the H0<= or H0>=
    - Compute it with a two tailed test, if the H0=

6) Decide

    - Reject H0
    - Not reject H0

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [116]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [117]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

#### Option 1

In [118]:
pokemon['Legendary'].unique()

array([False,  True])

In [119]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

#### Option 2

In [120]:
pokemon.groupby('Legendary').agg({'Legendary':'count'})

           Legendary
Legendary
False            735
True              65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

#### Option 1 (baby steps)

In [121]:
# Mean of legendary Pokemon

#legend = pokemon.loc[pokemon['Legendary'] == True]

#mean_legend = legend['Total'].mean()
#mean_legend

In [122]:
# Standard deviation of legendary Pokemon

#std_legend = legend['Total'].std()
#std_legend

In [123]:
# Mean of non-legendary Pokemon

#non_legend = pokemon.loc[pokemon['Legendary'] == False]

#mean_nonleg = non_legend['Total'].mean()
#mean_nonleg

In [124]:
#std_nonleg = not_legend['Total'].std()
#std_nonleg

#### Option 2 (adult steps)

In [125]:
mean_leg = pokemon[pokemon['Legendary']==True]['Total'].mean()
std_leg = pokemon[pokemon['Legendary']==True]['Total'].std(ddof=1)

mean_non_leg = pokemon[pokemon['Legendary']==False]['Total'].mean()
std_non_leg = pokemon[pokemon['Legendary']==False]['Total'].std(ddof=1)

print('Mean and standard deviation of legendary Pokemons: ', mean_leg,',', std_leg)
print('Mean and standard deviation of non legendary Pokemons: ', mean_non_leg,',', std_non_leg)

Mean and standard deviation of legendary Pokemons:  637.3846153846154 , 60.93738905315346
Mean and standard deviation of non legendary Pokemons:  417.21360544217686 , 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [126]:
#1. Set the hypothesis

## H0: mu is the total stats of legendary pokemons = total stats of non legendary pokemons
## H1: mu is the total stats of legendary pokemons != total stats of non legendary pokemons

## We are dealing with a two-tailed test

In [127]:
#2. Identify the significance level

alpha = 0.05

In [128]:
#3. Determine the sample

In [129]:
legendaries = pokemon[pokemon['Legendary']==True]['Total']
legendaries.head(5)

156    580
157    580
158    580
162    680
163    780
Name: Total, dtype: int64

In [130]:
non_legendaries = pokemon[pokemon['Legendary']==False]['Total']
non_legendaries.head(5)

0    318
1    405
2    525
3    625
4    309
Name: Total, dtype: int64

In [131]:
#4. Compute the statistics
#5. Calulate the p-value

stat, p_value = st.ttest_ind(legendaries, non_legendaries, equal_var=False)

print(stat)
print(p_value)

25.8335743895517
9.357954335957446e-47

In [132]:
#5. Make a decision

p_value < alpha

True

What do you conclude from this test? Write your conclusions below.

#### Your conclusions here:

The p_value is smaller than alpha, therefore we can reject H0 and do not reject H1, or the mu total stats of legendary pokemon will be more likely different from the non-legendary ones.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [133]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [134]:
pokemon.groupby('Type 1').agg({'Type 1':'count'})

          Type 1
Type 1
Bug           69
Dark          31
Dragon        32
Electric      44
Fairy         17
Fighting      27
Fire          52
Flying         4
Ghost         32
Grass         70
Ground        32
Ice           24
Normal        98
Poison        28
Psychic       57
Rock          44
Steel         27
Water        112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [135]:
# Mean and standard deviation of Pokemon Group Water and all the others

mean_water = pokemon[pokemon['Type 1']=='Water'].mean()
std_water = pokemon[pokemon['Type 1']=='Water'].std()

mean_non_water = pokemon[pokemon['Type 1']!='Water'].mean()
std_non_water = pokemon[pokemon['Type 1']!='Water'].std()

print('Mean and standard deviation of Water Pokemons: ', mean_water,',', std_water)
print('Mean and standard deviation of non Water Pokemons: ', mean_non_water,',', std_non_water)

Mean and standard deviation of Water Pokemons:  #             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64 , #             188.440807
Total         113.188266
HP             27.487026
Attack         28.377192
Defense        27.773809
Sp. Atk        29.030128
Sp. Def        28.460493
Speed          23.019353
Generation      1.558800
Legendary       0.186411
dtype: float64
Mean and standard deviation of non Water Pokemons:  #             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
dtype: float64 , #             209.928799
Total         121.091682
HP             25.194299
Attack         33.025152
Defense        31.719933
Sp. Atk        33.292537
Sp. Def        27.739292
Speed          29.925907
Generation      1.666119
Legendary       0.284463
dtype: float64

/var/folders/vy/72w35wd12ms4_h7n214795k40000gn/T/ipykernel_6190/222988077.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_water = pokemon[pokemon['Type 1']=='Water'].mean()
/var/folders/vy/72w35wd12ms4_h7n214795k40000gn/T/ipykernel_6190/222988077.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std_water = pokemon[pokemon['Type 1']=='Water'].std()
/var/folders/vy/72w35wd12ms4_h7n214795k40000gn/T/ipykernel_6190/222988077.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_non_water = pokemon[pokemon['Type 1']!='Water'].mean()
/var/folders/vy/72w35wd12ms4_h7n214795k40000gn/T/ipykernel_6190/222988077.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std_non_water = pokemon[pokemon['Type 1']!='Water'].std()

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [136]:
#1. Set the hypothesis

## H0: mu is the total stats of water pokemons = total stats of non water pokemons
## H1: mu is the total stats of water pokemons != total stats of non water pokemons

## We are dealing with a two-tailed test

In [137]:
#2. Identify the significance level

alpha = 0.05

In [138]:
#3. Determine the sample

water_p = pokemon[pokemon['Type 1'] == 'Water']['Total']
non_water_p = pokemon[pokemon['Type 1'] != 'Water']['Total']

In [139]:
#4. Compute the statistics
#5. Calculate the p-value

stat, p_value = st.ttest_ind(water_p, non_water_p, equal_var=True)

print(stat)
print(p_value)

-0.4418547448849676
0.6587140317488793

In [140]:
#6. Make a decision

p_value < alpha

False

Write your conclusion below.

#### Your conclusions here:

The p_value is bigger than alpha, therefore we *DO NOT* reject H0 and do reject H1.
This means that we start believing, with a 95% confidence level, that the mu total stats for water pokemons are equal to the mu total stats for non-water pokemons.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [141]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [142]:
#1. Set hypothesis (H0 and H1)
# H0: mu attack stats for each pokemon = mu defense stats for each pokemon
# H1: mu attack stats for each pokemon != mu defense stats for each pokemon

#2. Identify significance level
alpha = 0.05

In [143]:
#3. Define the sample

pokemon_atk = pokemon['Attack']
pokemon_def = pokemon['Defense']

In [144]:
#4. Compute the statistics
#5. Calculate the p-vale
#6. Make a decision


stat, p_value = st.ttest_rel(pokemon_atk, pokemon_def) 

print(stat)
print(p_value) 

p_value < alpha

4.325566393330478
1.7140303479358558e-05

True

Describe the results of the test in the cell below.

#### Your conclusions here:

Our p_value is smaller than our alpha, so we can reject H0 and start believing that the mu attack statistics for each pokemon are different to the mu defense statistics for each pokemon. This means that we do not reject H1.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [145]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [146]:
#1. Set hypothesis (H0 and H1)
# H0: mu special defense of each pokemon = mu special attack of each pokemon
# H1: mu special defense of each pokemon != mu special attack of each pokemon

#2. Identify significance level
alpha = 0.05

In [147]:
#3. Define the sample

pokemon_sp_def = pokemon['Sp. Def']
pokemon_sp_atk = pokemon['Sp. Atk']

In [148]:
#4. Compute the statistics
#5. Calculate the p-vale
#6. Make a decision


stat, p_value = st.ttest_rel(pokemon_sp_def, pokemon_sp_atk) 

print(stat)
print(p_value) 

p_value < alpha

-0.853986188453353
0.3933685997548122

False

Describe the results of the test in the cell below.

#### Your conclusions here:

The p_value is bigger than alpha, therefore we *DO NOT* reject H0 and we do reject H1.
This means that we start believing, with a 95% confidence level, that the mu total means for special defense are equal to the mu total means for special attack of all pokemons.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [149]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [150]:
#1. Set hypothesis (H0 and H1)
# H0: mu difference between mean of defense and mean of attack equals to 0
# H1: mu difference between mean of defense and mean of attack is not equal to 0

#2. Identify significance level
alpha = 0.05

In [151]:
#3. Define the sample

pokemon_def = pokemon['Defense']
pokemon_atk = pokemon['Attack']

pokemon_sample = pokemon['Defense'] - pokemon['Attack']
pokemon_sample

0        0
1        1
2        1
3       23
4       -9
      ...
795     50
796    -50
797    -50
798   -100
799     10
Length: 800, dtype: int64

In [152]:
## Also, I want to know what is the means of pokemon sample

pokemon_sample.mean()

-5.15875

In [153]:
#4. Compute the statistics
#5. Calculate the p-vale

stat, p_value = st.ttest_1samp(pokemon_sample, 0) 
# 0 is the fixed value that we have fixed as the difference between mean of defense and mean of attack

print(stat)
print(p_value)

-4.325566393330478
1.7140303479358558e-05

In [154]:
#6. Make a decision

p_value < alpha

True

#### Your considerations here:

The results are the same as the ones in the test performe before with matched pairs set for defense and attack.
Therefore, since our p_value is smaller than our alpha, so we can reject H0 and start believing that the mu attack statistics for each pokemon are different to the mu defense statistics for each pokemon. This means that we do not reject H1.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [186]:
from scipy.stats import chisquare

In [187]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [188]:
pokemon_1 = pd.crosstab(pokemon['Type 1'], pokemon['Legendary'])
pokemon_1

Legendary  False  True
Type 1
Bug           69     0
Dark          29     2
Dragon        20    12
Electric      40     4
Fairy         16     1
Fighting      27     0
Fire          47     5
Flying         2     2
Ghost         30     2
Grass         67     3
Ground        28     4
Ice           22     2
Normal        96     2
Poison        28     0
Psychic       43    14
Rock          40     4
Steel         23     4
Water        108     4

In [189]:
#1. Set hypothesis (H0 and H1)
# H0: mu statistically significant in frequencies is equal between Type 1 and Legendary, not Legendary
# H1: mu statistically significant in frequencies is different between Type 1 and Legendary, not Legendary

#2. Identify significance level
alpha = 0.05

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [200]:
#3. Define the sample --> pokemon_1

#4. Compute the statistics
#5. Compute the p-values

stat, p_value = chisquare(pokemon_1, axis=0)

#The axis of the broadcast result of f_obs and f_exp along which to apply the test. If axis is None, all values in f_obs are treated as a single data set. Default is 0.

print(stat)
print(p_value)

[320.48571429  66.53846154]
[6.55748731e-58 8.43266971e-08]

Based on a 95% confidence, should we reject the null hypothesis?

In [201]:
#6. Make a decision

## P-value of Non Legendary and Type 1

6.55748731e-58 < alpha

True

In [202]:
## P-value of Legendary and Type 1

8.43266971e-08 < alpha

True

#### Comments:

Both p-values are smaller than our significance level of 5% or confidence level of 95%. Hence, we reject H0 and start to believe that statistically significant in frequencies is different between Type 1 and Legendary, not Legendary.